:root{
    --color-primary: #ffce00;
    --color-secondary: #ffa300;
    --color-text: #6D138C;
    --color-bg: #dedede;
    --font-title: SoulBillani;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

h1, h2, h3, h4, h5, h6{
    font-family: var(--font-title);
    color: var(--color-secondary);
    justify-content: left;

}

nav {
    display: flex;
    background-color: #33FFF2;
    width: 100vw;
    justify-content: left;
    align-items: center;
    height: 100px
}

nav img{
    margin: 10px
}

nav ul{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav ul li {
    padding: 20px;
}

nav ul li a {
    text-decoration: none;
    font-size: 30px;
    font-weight: 600;
    color: #1B2D2C;
    font-family: var(--font-title)

}

nav ul li a:hover {
    color: white;
}
@font-face{
    font-family: SoulBillani;
    src: url('../font/SoulBillani.otf');
}
main {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 50px;
    weight: 100vw;
    min-height: 80vh;
    font-family: var(--font-title);
}


.about{
    display: flex;
    width: 350px;
    padding: 20px;
    justify-content: left;
}


footer {
    color: black;
    background: #33FFF2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 20px;
    padding: 30px;
    font-family: var(--font-title);
}