{% extends './layout/base.html' %}

{% block title %}Portafolio{% endblock%}

{% block content %}
    <h1>Aqui puedes ver todos mis proyectos</h1>
    <div>
        <img src="https://picsum.photos/300/300?grayscale">
        <img src="https://picsum.photos/300/300/?blur">
        <img src="https://picsum.photos/id/870/300/300?grayscale&blur=2">
        <img src="https://picsum.photos/seed/picsum/300/300">
        <img src="https://picsum.photos/id/238/300/300">
        <img src="https://picsum.photos/id/237/300/300">
    </div>
{% endblock%}